<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>

Velkommen {{username}} du er nu logget ind

<a href="/rest/notehtml">Se dine noter serverside renderet</a>
<a href="/restnotes.html">Se dine noter clientside renderet</a>

</body>
</html>