<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>

Velkommen {{username}} du er nu logget ind<p>

<a href="{{rod}}/rest/notehtml">Se dine noter serverside renderet</a><br>
<a href="{{rod}}/restnotes.html">Se dine noter clientside renderet</a><br>

</body>
</html>