<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noter</title>
</head>
<body>
<ul>
{{#noter}}
    <li>{{tekst}}
        <Form method="post">
        <input name="delete" type ="hidden" value="{{id}}">
        <button type="submit">Slet note</button>
    </Form>
    </li>
{{/noter}}
</ul>
<Form method="post">
    <input name="note" type ="text">
    <button type="submit">Ny Note</button>
</Form>

</body>
</html>